@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Share+Tech+Mono&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 280 10% 3%;
  --foreground: 302 100% 95%;

  --card: 280 10% 8%;
  --card-foreground: 302 100% 95%;

  --popover: 280 10% 8%;
  --popover-foreground: 302 100% 95%;

  --primary: 302 100% 95%;
  --primary-foreground: 280 10% 3%;

  --secondary: 339 100% 43%;
  --secondary-foreground: 302 100% 95%;

  --muted: 339 100% 26%;
  --muted-foreground: 302 100% 95%;

  --accent: 264 54% 25%;
  --accent-foreground: 302 100% 95%;

  --destructive: 0 84% 60%;
  --destructive-foreground: 302 100% 95%;

  --border: 339 100% 43%;
  --input: 339 100% 43%;
  --ring: 302 100% 95%;

  --radius: 0.5rem;

  --font-heading: 'Audiowide', cursive;
  --font-body: 'Share Tech Mono', monospace;
}

body {
  background: linear-gradient(
    to bottom right,
    hsl(0, 0%, 0%),
    hsl(265, 66%, 17%)
  );
  color: hsl(var(--foreground));
  font-family: var(--font-body);
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  font-weight: 400;
}

h2 {
  font-size: xx-large;
  margin-bottom: 16px;
}

.neon-text {
  text-shadow:
    0 0 7px #fff,
    0 0 10px #020de1,
    0 0 21px #ff2600,
    0 0 42px hsl(var(--primary)),
    0 0 82px hsl(var(--primary));
}

.experience-card-hover {
  background: hsl(var(--card));
  border: 2px solid hsl(var(--secondary));
  box-shadow:
    0 0 10px hsl(var(--secondary)),
    0 0 20px hsl(var(--secondary));
}

/* .tech-pill {
  background-color: hsl(var(--muted));
  color: hsl(var(--muted-foreground));
  font-size: 0.75rem;
  padding: 0.25rem 0.5rem;
  border-radius: 9999px;
  display: inline-block;
} */

.experience-card-hover .tech-pill {
  background-color: hsl(var(--secondary));
  color: hsl(var(--secondary-foreground));
}

.card-hover-effect {
  transition:
    transform 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out,
    border-color 0.3s ease-in-out;
}

.card-hover-effect:hover {
  transform: translateY(-5px);
  border-color: hsl(var(--secondary));
  box-shadow:
    0 0 10px hsl(var(--secondary)),
    0 0 20px hsl(var(--secondary));
}
